.homework-style{
    border: 1px solid green;
    border-left: 2rem green solid;
}

.shopping-style{
    border: 1px solid blue;
    border-left: 2rem blue solid;
}

.cleaning-style{
    border: 1px solid red;
    border-left: 2rem red solid;
}

.social-style{
    border: 1px solid purple;
    border-left: 2rem purple solid;
}

.exercise-style{
    border: 1px solid yellow;
    border-left: 2rem yellow solid;
}